<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @strategy.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @strategy.description %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @strategy.agent %>
</p>

<p>
  <strong>Map:</strong>
  <%= @strategy.map %>
</p>

<p>
  <strong>Side:</strong>
  <%= @strategy.side %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @strategy.difficulty %>
</p>

<%= link_to 'Edit', edit_strategy_path(@strategy) %> |
<%= link_to 'Back', strategies_path %>
